<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.enrol1.scripts.LoginTestClass"/>
      <class name="com.enrol1.scripts.HomePageTestClass"/>
      <class name="com.enrol1.scripts.CourseTestClass"/>
       <class name="com.enrol1.scripts.EditPageTest"/>
       <class name="com.enrol1.scripts.AllStudentsTest"/>
      
      
     
  	</classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
